<!DOCTYPE html>
<html lang="en">
	<head>
		<title>LIKEREAD</title>
		<!--<link rel="stylesheet" href="./stylesheets/nav_index.css"/>-->
		<link rel="stylesheet" href="./stylesheets/index.css"/>
		<base href="http://localhost:3000/index">
		<base target="_blank" href="http://localhost:3000/index">
	</head>
	<body>
		<div id="nav_index">
			
		</div>
		<div id="container">
			<!-- <div class="left_div_container"></div> -->
			<div  class="middle_div_container"></div>
			<div class="right_div_container"></div>
		</div>
		<script src="./javascripts/dist/manifest.js"></script>
		<script src="./javascripts/dist/vendor.js"></script>
		<script src="./javascripts/dist/nav_index.js"></script>
		<script src="./javascripts/dist/index.js"></script>
	</body>
</html>