<!DOCTYPE HTML>
<html lang='en'>
  <head>
      <meta charset="utf-8"/>
      <title>登录</title>
      <meta name="description" content="登录，输入用户名和验证码"/>
      <meta name="keywords" content="用户、登录">
      <style type="text/css">
          *{
            margin:0 auto;
            padding:0 auto;
          }
          #root{
            background-color:#F1F1F1;
          }
      </style>
      <link rel="stylesheet" href="./stylesheets/login.css">
  </head>
  <body id="root">
      <div id="login">
        

      </div>
      <script src="./javascripts/views/manifest.bundle.js"></script>
      <script src="./javascripts/views/vendor.bundle.js"></script>
      <script src="./javascripts/views/main.bundle.js"></script>
  </body>
</html>