doctype html
html(lang="en")
  head
  	meta(charset='utf-8')
    title 登录
    meta(name='description' content='阅读你想阅读的')
    meta(neme='keywords' content='likeread、阅读')
    link(rel='stylesheet' type='text/css' href='./stylesheets/login.css')
  body
    p 
    	hello
    script(type='text/javascript' src='./javascripts/login.js')