*{
	margin:0;
	padding:0;
}

body,html{
	width:100%;
	height:100%;
}



#container{
	display: flex;
	display:-webkit-flex;
	flex-direction: -webkit-flex;
	flex-direction: row;
	justify-content:center; 
	min-width:1000px;
}

/*.left_div_container{
	width:200px;
	height:300px;
	background-color:red;
}*/

.middle_div_container{
	width:800px;
	background-color:rgb(255,255,255);
	margin-top:100px;
}

.right_div_container{
	width:200px;
	height:500px;
	background-color:rgb(245,243,240);
	margin-top:62px;
}

.middle_div_container ul li{
	width:780px;
	height:200px;
	margin-top:40px;
	list-style-type: none;
	border-bottom: 1px solid rgb(240,240,240);
}


.middle_div_container ul li div:nth-child(1){
	vertical-align: middle;
	height:30px;
	margin-bottom:10px;
}


.middle_div_container ul li div:nth-child(1) span{
	display: inline-block;
	height:30px;
	vertical-align: middle;
	margin-right:10px;
}


.middle_div_container ul li div:nth-child(1) div{
	display: inline-block;
	vertical-align: middle;
	height:30px;
	line-height: 30px;
}



.middle_div_container ul li div:nth-child(1) img{
	display: inline-block;
	width:30px;
	height:30px;
	vertical-align: middle;
	margin-right:15px;
	border-radius: 50%
}


.middle_div_container ul li div:nth-child(2){
	height:30px;
	clear:both;
	font-size:18px;
	color:rgb(51,51,51);
	font-weight:700;
}

.middle_div_container ul li div:nth-child(3){
	height:80px;
	font-size:16px;
	font-weight:300px;
	line-height:25px;
}


.middle_div_container ul li a{
	color:black;
	font-size-size:20px;
	font-weight:600px;
	text-decoration: none;
}

.middle_div_container ul li a:hover{
	border-bottom: 1px solid;
}


middle_div_container ul li .iconfont_browse{
	display: inline-block;
	width:20px;
	height:20px;
}

.middle_div_container ul li div:nth-child(4) span{
	vertical-align: center;
	margin-right:7px;
	display: inline-block;
	height:20px;
}


.middle_div_container ul li div:nth-child(4) span a{
	text-decoration: none;
	display: inline-block;
	border:none;
	position: relative;
	top:4px;
}

.middle_div_container ul li div:nth-child(4) .iconfont_love a::before {
	content:"";
	background:url(../images/love.svg);
	display: inline-block;
	width:20px;
	height:20px;
	background-size: 100% 100%;
}

.middle_div_container ul li div:nth-child(4) .iconfont_browse a::before{
	display: inline-block;
	content:"";
	background: url(../images/browse1.png);
	width:20px;
	height:20px;
	background-size: 100% 100%;
}

.middle_div_container ul li  div:nth-child(4) .iconfont_collection a::before{
	display: inline-block;
	content:" ";
	background:url(../images/collection.svg);
	width:20px;
	height:20px;
	background-size: 100% 100%;
}